<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="icon" href="/images/favicon.jpg">
   <meta name="author" content="Tianjian Xia" />
   <link href="http://feeds.feedburner.com/#" rel="alternate" title="#" type="application/atom+xml" />
   <!-- <meta name="readability-verification" content="###QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Tianjian Xia</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Tianjian Xia
        <br />
        ###
          <a href="##">###</a>,
          <a href="##">###</a>
        <br />
        xtjnj95@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/tianjianxia/">github.com/tianjianxia</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/#">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/tianjianxia"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("TODO");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
