---
layout: default
---

<!---
  Generate tags
-->
{% assign tags = '' %}
{% for tag in page.tags %}
    {% if tags != '' %}
        {% assign tags = tags | append: ' - ' | append: tag %}
    {% endif %}
    {% if tags == '' %}
        {% assign tags = tag %}
    {% endif %}
{% endfor %}
<!---
  End of generatation
-->
{{ tags }}


<div id="post">
{{ content }}
</div>

<div id="related">
  <h2>Comments</h2>
</div>

<script src="https://utteranc.es/client.js"
        repo="tianjianxia/tianjianxia.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>